<!doctype html>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/webpage.css') }}" media="screen" />

<html>
    <head>
        <title>Unauthorized</title>
    </head>
    <body>
        <h1>Yikes!</h1>
        <br>
        <h2>
            Try to login again here: <a href="{{ url_for('login') }}">Login</a>
            <br> or <br>
            Create a new account here: <a href="{{ url_for('signup') }}">Create an Account</a>
        </h2>
        <br>
        <h3>If you were attempting to create an account, that email is already in use!</h3>
        <h3>If you were attempting to login, your email/password was invalid!</h3>
    </body>
</html>

<img logo src="{{ url_for('static', filename='camera.png' )}}" class="center" />
<h3>Photoshare</h3>
